<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <form action="/posts">
        <input placeholder="Enter your post title" type="text" name="name" id="" class="block">
        <textarea placeholder="Input your content" name="content" id=""class="block"></textarea>
        <button type="submit"class="block">Submit</button>
    </form>
</body>
</html>